ul {
    padding: 0;
}
li {
    list-style-type: none;
}
li+li {
    list-style-type: none;
    padding-left: 30px;
}


.arr::before, .obj::before {
    content: '\25B6';
    font-size: 10px;
}

.arr::after {
    content: '[] ';
    font-weight: 900;
    margin-left: 10px;
}
.obj::after {
    content: '{}';
    font-weight: 900;
    margin-left: 10px;
}