ul {
    padding: 0;
}
li {
    list-style-type: none;
    padding-left: 30px;
}


/* .arr::before, .obj::before {
    content: '\25B6';
    font-size: 10px;
} */

.arr::before {
    content: '[]';
    font-weight: 900;
    margin-right: 10px;
}
.obj::before {
    content: '{}';
    font-weight: 900;
    margin-right: 10px;
}
.hidden {
    display: none;
}