.tabs {
    width: 100vw;
    height: 100vh;
    padding: 50px;
}

.tabs__wrapper {
    border: 2px solid #adff2f;
    border-radius: 16px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.tabs__header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}